.grow {
  padding: 20px 0;
  background-color: $VeryPaleBlue;
  .container {
    @include breakpoint-down(small) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
  }

  > div {
    flex: 1;
  }
  &__img {
    background-size: cover;
    background-position: center center;
    margin-bottom: 30px;
    img {
      width: 80%;
      @include breakpoint-down(small) {
        width: 100%;
      }
    }
  }
  &__content {
    margin-top: 30px;
    > div {
      width: 80%;
      @include breakpoint-down(small) {
        width: 100%;
        text-align: center;
      }
    }
  }
}
